# 核心网络与同步
httpx>=0.15.0,<=0.15.5
stravalib
cloudscraper==1.2.58
stravaweblib
tenacity

# 数据处理与解析
gpxpy==1.4.2
git+https://github.com/alenrajsp/tcxreader.git
polyline
numpy
lxml==4.9.4
eviltransform

# 数据库与系统
sqlalchemy
pyyaml
aiofiles
rich
tzlocal
tzfpy; platform_system != "Windows"
timezonefinder; platform_system == "Windows"

# 工具类
arrow
geopy
haversine==2.8.0

# 基础解析（同步脚本可能用到）
bs4
html.parser