:global(#svgStat) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 绝对居中 */
  transform: translateX(-1%); 
}
.runSVG, 
.runSVG2 {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto; 
  max-width: 100%;
}

.center {
  text-align: center;
}