.runSVG {
  height: 250%;
  width: 100%;
  margin-top: -60px;
}
.runSVG2 {
  height: 250%;
  width: 100%;
  margin-bottom: 120px;
}

.center {
  text-align: center;
}
// 页面宽度小于900样式
@media (max-width:768px){
  .runSVG {
  margin-top: 0;
}
}
