@import 'tachyons/css/tachyons.css';
@import 'tachyons-sass/tachyons.scss';
@import './variables';
@import './themes';

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  font-family: $global-font-family;
  background: #605D5A;
  max-width: 800px;
  margin: auto;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

// Theme

h1,
h2,
h3,
h4,
h5 {
  @extend .near-black;
  @extend .lh-solid;
}

b,
strong {
  @extend .black;
  @extend .b;
}

nav {
  a {
    @extend .dark-gray;

    &.active {
      @extend .silver;
    }
  }
}

p {
  @extend .dark-gray;
  @extend .lh-copy;

  a {
    @extend .link;
    @extend .underline-hover;
  }
}

hr {
  border-top: none;

  @extend .bb;
  @extend .b--black-20;
  @extend .mv4;
}

ul,
ol {
  @extend .pl4;
  @extend .lh-copy;
  @extend .dark-gray;

  li {
    @extend .lh-copy;

    a {
      @extend .link;
      @extend .underline-hover;
    }
  }
}

time {
  @extend .gray;
}

a.post-colophon-link,
a.post-colophon-link:visited {
  color: transparentize(black, 0.7) !important;
}

.gist table tr:last-child {
  border-bottom: 1px;
}

h2 .header-link {
  margin-top: 2rem;
}

h3 .header-link {
  margin-top: 2rem;
}

h5 .header-link {
  margin-top: -0.14rem;
}

.markdown-content .grvsc-container {
  @extend .bg-light-gray;

  font-size: 0.875rem !important;

  &::-webkit-scrollbar {
    display: none;
  }

  .grvsc-line {
    padding: 0 1rem;
  }
}

.markdown-content .gatsby-resp-image-wrapper {
  margin-top: 1rem;
}

//自定义css

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  src: url('https://img.koobai.com/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  unicode-range: U+61-7a,U+41-5a,U+30-39;
}

.header {
 /* 1. 基础定位 */
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  width: 600px; 
  height: auto;
  padding: 20px 30px;
  bottom: 30px;
  background: rgba(85, 82, 78, 0.6);
  backdrop-filter: blur(25px) saturate(200%); 
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 
      0 0 1px rgba(0, 0, 0, 0.5),    /* 边缘加固 */
      0 12px 40px rgba(0, 0, 0, 0.3);
  /* 开启硬件加速 */
  -webkit-transform: translateX(-50%) translateZ(0);
  transform: translateX(-50%) translateZ(0);
}
.header svg {
  display: flex;
   width: 28px;       /* 统一图标大小 */
    height: 28px;
}
.header-menu{
  display: flex;
  gap: 35px;
  align-items: center;
  z-index: 2;
  flex-wrap: wrap;
 }
 .header-menu a {
  color: #B8ABA2;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column; /* 核心：开启上下排列 */
  align-items: center;    /* 居中对齐 */
  gap: 4px;              /* 图标与文字的间距 */
 }
 .header-menu a:hover {
  text-decoration: underline;
 }
 .header-right {
  display: flex;
  grid-gap: 20px; /* 中间空10px间距 */
  align-items: center;
  margin-left: auto;
  z-index: 2;
 }
.header-right svg{
  fill: #B8ABA2;
  width: 20px;
  height: 20px;
  display: block;
}
.header-right svg:hover{
  fill: #C3AACC;
}
.about-koobai img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: opacity .3s ease-in-out;
  display: block;
}
.about-koobai img:hover{
  opacity: 0.6;
}
.menu-gaoliang{
  color: #C3AACC !important;
}
.menu-gaoliang svg {
    transform: scale(1.1); 
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.3));
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
 // 页面宽度小于900样式
@media (max-width:900px){
  body {
    padding: 0 20px 20px 20px;
  }
  .header {
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px; 
  height: 50px;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;     /* 垂直居中 */
  box-shadow:0;
  }
  .header-right {
    grid-gap: 0;
    margin-left: 0;

   }
  .header-right svg{
    display: none;
  }
  .pagetitle {
    display: none;
  }
  .page-nrong{
    margin-top: 350px !important;
    position: relative;
    z-index: 2;
  }
  .header-menu{
    display: none;
   }
}
.page-map{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);

}
.page-map:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 35%, #605D5A 100%);
  pointer-events: none;
}
.pagetitle {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  max-width: 620px;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
  color: #dfdfdf;
  margin-top: 500px;
  position: relative;
  z-index: 2;
}
.page-nrong{
  margin-top: 20px;
}
//文本选择高亮颜色
::selection {
  background: #634939;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  body {
    background: #605D5A;
  }
}