$global-font-family: 'JetBrainsMono',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helvetica,"PingFangSC-Regular","Hiragino Sans GB","Lantinghei SC","Microsoft Yahei","Source Han Sans CN","WenQuanYi Micro Hei",SimSun,sans-serif;

$breakpoint-mobile: 960px;
$breakpoint-stack: 530px;

$nike: rgb(224, 237, 94);
$light: #999;
$dark: #1A1718;
$green: rgb(0,237,94);

$map-box-line-color:rgb(71, 184, 224)
