@import '../../styles/variables.scss';

.locationSVG {
  height: 100%;
  width: 100%;
  margin: 1rem 0 0;
  border: 0;
  padding: 0;
}

.runTitle {
  height: 29px;
  width: 710px;
  position: absolute;
  bottom: 0px;
  left: 120px;
  font-family: $global-font-family;
  cursor: pointer;
}

@media (max-width:768px){
  .buttons {
    top: 4px;
    bottom: 0;
    height: 50px;
    align-items: center;
    justify-content: center; 
  }
}