@import '../../styles/variables.scss';

.runTable {
  width: 100%;
  font-variant: tabular-nums;
  margin-bottom: 150px;

  thead {
    color: $light;
    font-size: 0.85rem;
    text-align: left;

    th {
      padding: 0.5rem;
    }
  }
}

.runRow {
  cursor: pointer;
  td {
    padding: 0.5rem;
    border: 0;
   

    &:first-child {
      text-align: left;
      min-width: 110px;
      max-width: 140px;
      line-height: 1.4;
    }
  }

  &:hover {
    background-color: lighten($dark, 3%);
    td:first-child {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    td:last-child {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}

.selected {
  color: #FC9151 !important;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.runDate {
  color: $light;
  font-size: 0.85rem;
  text-align: right;
}
.runDateHeader {
  text-align: right;
}
.paceUnit {
  font-size: 0.75em;
  margin-left: 3px;
  opacity: 0.7;
}
.heartRateEmoji {
  margin-left: 2px;
}
 // 页面宽度小于900样式
 @media (max-width:768px){
  .runTable {
    width: 150%;
  }
  .runTable {
  margin-bottom: 60px;
}
 }
