@import '../../styles/variables.scss';

.runTable {
  width: 100%;
  font-variant: tabular-nums;
  margin-bottom: 150px;

  thead {
    color: $light;
    font-size: 0.85rem;
    text-align: left;

    th {
      padding: 0.5rem;
      cursor: pointer;           
      user-select: none;        
      -webkit-user-select: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.runRow {
  cursor: pointer;
  td {
    padding: 0.5rem;
    border: 0;
   

    &:first-child {
      text-align: left;
      min-width: 110px;
      max-width: 140px;
      line-height: 1.4;
    }
  }

  &:hover {
    background-color: lighten($dark, 3%);
    td:first-child {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    td:last-child {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}

.selected {
  color: #FC9151 !important;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.runDate {
  color: $light;
  font-size: 0.85rem;
  text-align: right;
}
.runDateHeader {
  text-align: right;
}
.paceUnit {
  font-size: 0.75em;
  margin-left: 3px;
  opacity: 0.7;
}
.heartRateEmoji {
  font-size: 0.75rem;
}
.heartRateWrapper {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
 // 页面宽度小于900样式
 @media (max-width:768px){
  .runTable {
    width: 150%;
  }
  .runTable {
  margin-bottom: 60px;
}
 }

//列表加载动画
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.runRow {
  opacity: 0;
  animation: slideUpFade 0.35s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.timePart {
  font-size: 0.9em;
  opacity: 0.7; 
  margin-left: 6px; 
}